<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 3.2</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheed" href="./styles/styles.css">
    <!-- 
        I would add Styling in a seperate css file but I don't feel like messing with the
        CSP to load it from localhost.
    -->    
    <style>
        .card{
            margin: 30px 100px 0 100px;
        }
    </style>
</head>
<body>
    <div class="card">
        <div class="card-header">
            <%= message %>
        </div>
        <div class="card-body">
            <a href="#" class="btn btn-primary">I do nothing</a>
        </div>
    </div>
</body>