<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>

    <!-- Stylesheet - Bootstrap -->
    <link rel="stylesheet" href="<%= styles %>">
    <link rel="stylesheet" href="/styles/navbar-styles.css">
    <link rel="stylesheet" href="/styles/footer-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|IBM+Plex+Sans+Condensed" rel="stylesheet"> 
</head>