<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%= title %></title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous"> 
    <link rel="stylesheet" href="<%= styles %>">
    <link rel="stylesheet" href="/styles/navbar-styles.css">
    <link rel="stylesheet" href="/styles/footer-styles.css">
    <link href="https://fonts.googleapis.com/css?family=Bungee|IBM+Plex+Sans+Condensed" rel="stylesheet">
    
</head>