<% include header %>
<body>
    <% include navbar %>
    <div class="home-body">
        <img class="home-main-image" src="/media/images/shelf.svg">
    </div>
    <div class="home-icon-row">
        <div class="home-icon-card">
            <div class="home-icon-background blue">
                <i class="fas fa-clipboard-list"></i>
            </div>
            <h2 class="card-header">View A List of Employees</h2>
        </div>
        <div class="home-icon-card">
            <div class="home-icon-background red">
                <i class="fas fa-user-plus"></i>
            </div>
            <h2 class="card-header">Add an Employee</h2>
        </div>
        <div class="home-icon-card">
            <div class="home-icon-background yellow">
                <i class="far fa-address-card"></i>
            </div>
            <h2 class="card-header">View an Employee's Record</h2>
        </div>
    </div>
    <div class="help-row">
        <div class="home-help">
            <i class="fas fa-question"></i>
            <h2 class="home-help-text">Need Help? - Submit a ticket here.</h2>
        </div>
    </div>
    <% include scripts %>
    <% include footer %>
</body>

