<div class="navbar-container">
    <div class="navbar-icon">CyberByte EMS</div>
    <a href="http://localhost:8080" class="navbar-link">Home</a>
    <a href="http://localhost:8080/list" class="navbar-link">List Employees</a>
    <a href="http://localhost:8080/new" class="navbar-link">New Employee</a>
    <a href="http://localhost:8080/view" class="navbar-link">View an Employee's Record</a>
</div>